.yellow {
    background-color: yellow;
}
.pink{
    background-color: pink;
}
.silver{
    background-color: silver;
}
.lightblue{
    background-color: lightblue;
}
.orange {
    background-color: orange;
}
